<nav>
    <% if(typeof(loggedIn) !== "undefined" && loggedIn){%>
        <a href="/addpage">Add</a>
        <a href="/viewpages">Pages</a>


    <%} else {
        if(typeof(webdata) !== "undefined"){
            for(data of navdata) {%>
                <a href="/getpage/<%=data.id%>"><%=data.name%></a>
                <%}
            }
        
        }%>
</nav>